<%- include("../../views/user/partials/header") %>

<!--=============== MAIN ===============-->
<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
            <li><a href="/" class="breadcrumb__link">Home</a></li>
            <li><span class="breadcrumb__link">></span></li>
            <li><span class="breadcrumb__link">Login / Register</span></li>
        </ul>
    </section>

    <!--=============== LOGIN-REGISTER ===============-->
    <section class="login-register section--lg">
        <div class="login-register__container container grid">
            <div class="login">
                <h3 class="section__title">Login</h3>
                <form class="form grid" id="loginform" action="/login" method="POST">
                    <input
                        name="email"
                        id="login_email"
                        type="email"
                        placeholder="Your Email"
                        class="form__input"
                    />
                    <div id="error1" class="error-message"></div>

                    <input
                        name="password"
                        id="login_password"
                        type="password"
                        placeholder="Your Password"
                        class="form__input"
                    />
                    <div id="error3" class="error-message"></div>

                    <% if (locals.message && message.length > 0) { %>
                        <div class="alert alert-danger text-center">
                            <%= message %>
                        </div>
                    <% } %>
                    <div class="form__btn">
                        <button class="btn">Login</button>
                    </div>
                </form>
            </div>
            <div class="register">
                <h3 class="section__title">Create an Account</h3>
                <form class="form grid" id="signform" action="/signup" method="POST" onsubmit="return signupValidation()">
                    <input
                        name="name"
                        id="signup_name"
                        type="text"
                        placeholder="Username"
                        class="form__input"
                    />
                    <div id="error1" class="error-message"></div>

                    <input
                        name="email"
                        id="signup_email"
                        type="email"
                        placeholder="Your Email"
                        class="form__input"
                    />
                    <div id="error2" class="error-message"></div>

                    <input
                        name="password"
                        id="signup_password"
                        type="password"
                        placeholder="Your Password"
                        class="form__input"
                    />
                    <div id="error3" class="error-message"></div>

                    <input
                        name="confirm_password"
                        id="signup_confirm_password"
                        type="password"
                        placeholder="Confirm Password"
                        class="form__input"
                    />
                    <div id="error4" class="error-message"></div>

                    <div class="form__btn-container">
                        <div class="form__btn">
                            <button class="btn">Submit & Register</button>
                        </div>
                        <div class="form__btn">
                            <button class="btn"><a href="/auth/google" class="google-btn">Sign in with Google</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!--=============== NEWSLETTER ===============-->
    <section class="newsletter section">
        <div class="newsletter__container container grid">
            <h3 class="newsletter__title flex">
                <img src="./assets/img/icon-email.svg" alt="" class="newsletter__icon" />
                Sign in to Newsletter
            </h3>
            <p class="newsletter__description">
                ...and receive $25 coupon for first shopping.
            </p>
            <form action="" class="newsletter__form">
                <input type="text" placeholder="Enter Your Email" class="newsletter__input" />
                <button type="submit" class="newsletter__btn">Subscribe</button>
            </form>
        </div>
    </section>
</main>

<!--=============== FOOTER ===============-->
<%- include("../../views/user/partials/footer") %>

<!--=============== SWIPER JS ===============-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="assets/js/main.js"></script>
<script src="assets/js/signup.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</html>