<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="assets/css/signup.css">
    <!-- Boxicons CSS LINK -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form id="signform" action="/signup" method="POST" onsubmit="return signupValidation()">
            <h1>Register</h1>
            <div class="input-box">
                <input class="form-control" type="text" name="name" id="signup_name" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div id="error1" class="error-message"></div>

            <div class="input-box">
                <input class="form-control" type="text" name="email" id="signup_email" placeholder="example@gmail.com" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div id="error2" class="error-message"></div>

            <div class="input-box">
                <input class="form-control" type="password" name="password" id="password" placeholder="********" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div id="error3" class="error-message"></div>

            <div class="input-box">
                <input class="form-control" type="password" name="confirm_password" id="signup_confirm_password" placeholder="********" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div id="error4" class="error-message"></div>

            <button type="submit" class="btn">Register</button>
            <button class="btn" style="margin-top: 10px;"><a href="/auth/google" class="google-btn">Sign in with Google</a></button>

            <div class="register-link">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>

    <!--=============== SIGNUP JS ===============-->
    <script src="assets/js/signup.js"></script>

     <!--=============== JQUERY LINK ===============-->
     <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	
</body>
</html>