<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="assets/css/verify-otp.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Email Verification
        </div>
        <form id="otpForm" action="/verify-otp" method="post" onsubmit="return validateOTPForm()">
            <div class="field">
                <input type="text" id="otp" name="otp" required maxlength="6" pattern="\d*"/>
                <label for="otp">Enter OTP:</label>
            </div>
            <div class="field">
                <input type="submit" value="Verify Email" class="btn-primary">
            </div>
            <div class="otp-timer">
                <span id="timerValue">60</span> seconds left
            </div>
            <div class="field">
                <input type="button" value="Resend OTP" class="btn-secondary" onclick="resendOTP()">
            </div>
            <% if (locals.message && message.length > 0) { %>
                <div class="alert alert-danger text-center">
                    <%= message %>
                </div>
            <% } %>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>

    <!--=============== SWEETALERT CDN LINK ===============-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--=============== VERIFY-OTP JS ===============-->
    <script src="assets/js/verify-otp.js"></script>
    <!--=============== JQUERY LINK ===============-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</html>